.container-contact {
    
}

.container-contact h2 {
    color: #66b6e1;
}

.container-contact .description {
    font-size: 18px;
    color: #043e5d;
    font-weight: 600;
    margin: 0 auto;
    width: 28%;
    line-height: 24px;
}

.container-contact p span {
    color: #66b6e1
}

.container-contact .contact-box{    
    width: 26%;
    margin: 32px auto 52px;
    border-radius: 6px;
    padding: 24px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.12);
}

.container-contact .contact-box .contact-bullet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
}

.container-contact .contact-box .contact-bullet .material-symbols-outlined{
    font-size: 32px;
    margin-right: 12px;
    color: #043e5d;
    cursor: pointer;
}

.container-contact .contact-box .contact-bullet .material-symbols-outlined:hover {
    opacity: .7;
}

.container-contact .contact-box .contact-bullet .linkedinImg{
    width: 26px;
    margin-right: 12px;
    cursor: pointer;
}

.container-contact .contact-box .contact-bullet .linkedinImg:hover {
    opacity: .7;
}

.container-contact .contact-box .contact-bullet .flagImg{
    width: 24px;
    margin-right: 8px;
    cursor: pointer;
}

.container-contact .contact-box .contact-bullet p{
    color: #043e5d;
    margin: initial;
}

.right-reserved {
    background-color: #66b6e1;    
    padding: 24px;
}

.right-reserved h3 {
    color: #fff;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
}

.right-reserved h3 span{
    font-weight: 700;
}

@media(max-width:768px) {
    .container-contact {
        padding: 0 32px;
    }
    .container-contact .description {
        width: initial;
    }
    .container-contact .contact-box {
        width: initial;
        padding: 16px 24px;
    }
    .right-reserved h3 {
        font-size: 14px;
    }
}