/* Tab component container */
.title-projects {
    color: #fff;
    margin: 0 0 32px;
}
.tab-container {
    width: 70%;
    margin: 0 auto;
}
  
  /* Tab list styles */
.tabs {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    z-index: 1;
}
  
 .tabs li {
    cursor: pointer;
    padding: 14px 24px;
    /* background-color: #fff; */
    background-color: #66b6e1;
    color: #fff;
    border: none;
    user-select: none;
    transition: background-color 0.3s ease;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-column-gap: 8px;
    align-items: center;    
}
  
.tabs li.active-tab {
    color: #000;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

img.img-tab {
    width: 32px;
}
  
/* Tab content styles */
.tab-content {
    padding: 32px;
    border-top: none;
    background-color: #fff;
    border-radius: 8px;
}
  
.tab-pane {
    display: none;
}
  
.tab-pane.active {
    display: block;
} 

@media(max-width:768px) {
    .tab-container {
        width: initial;
    }
    .tab-content .content-box {
        grid-template-columns: 100%;
        padding: 0 0 24px;
        border: none;
        border-bottom: 1px solid #ddd;
    }
    .tab-container .content-box:last-child {
        border-bottom: none;
    }
    .tab-content .content-box .left-job{
        margin-bottom: 24px;
    }
}