.nav-content {
    background-color: #66b6e1;
    padding: 16px;
}

.w-content {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

.w-content .left img {
    height: 32px;
}

.left {
    display: flex;
}

.left h2 {
    margin: 0;
    color: #fff;
}

.right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.right a {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.right a .material-symbols-outlined {
    font-size: 28px;
    margin: 0 8px;
}

.right a:hover {
    font-weight: 700;
}

.right button:hover {
    color: #000;
}

@media(max-width:768px) {
    .nav-content {
        padding: 16px 32px;
    }
    .w-content {
        width: 100%;
    }
    .w-content .left img {
        height: 24px;
    }
}